<header class="site-header" role="banner">
<div class="wrapper">
<nav class="navbar navbar-expand-lg navbar-light ">
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}
  <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div style="justify-content:flex-end" class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/about/">About</a>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="/blog/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <a class="dropdown-item" href="/blog/category">Categories</a>
               <a class="dropdown-item" href="/blog/tags">Tags</a>
             </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/projectes">Projectes</a>
      </li>
    </ul>
  </div>
</nav>
</div>
</header>
