---
layout: default
title: Blog
---
	<h1>{{ page.title }}</h1>
	<div class="card-columns">
{% for post in site.posts %}

	<div class="card">
  <div class="card-body text-center">
    <blockquote class="blockquote mb-0">
      <a href="{{ post.url }}" title="{{ post.title }}"><p>{{ post.title }}</p></a>
      <footer class="blockquote-footer  text-right">{{ post.date | date_to_string }}</footer>
    </blockquote>
  </div>
	<div class="card-footer text-muted">
	{% assign ultimo = post.tags.last %}
	{% for tag in post.tags %}
	  {% if ultimo == tag %}
		  {{tag}}
		{% else %}
		  {{tag}} |
		{% endif %}

	{% endfor %}
 </div>
</div>

	  {% endfor %}
</div>
<a href="/blog/category">Categories</a> | <a href="/blog/tags">Tags</a>
